<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Página de mantenimiento</title>
  </head>
  <body>
    <h2>Lo sentimos :-(</h2>

    <p>
      <b>
        La pagina se encuentra en mantenimiento
      </b>
    </p>

  {{>footer}}

  </body>
</html>
